*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}
/* #tree-view-container{
    padding: 2em;
    margin-left: 20vw; 
    height: 100%;
    width: 100%;
} */
.menu-list-container{
    min-height: 90vh;
    width: 350px;
    height: 100%;
    border: 1px solid black;
    padding: 1em;
}
.menu-item{
    display: flex;
    align-items: center;
    gap:20px;
    cursor:pointer;
}
.menu-list-container{
    list-style:none;
    margin-top:0px;
    margin-bottom: 0px;

}