.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:rgb(167, 173, 171);
    gap:10px;
}
.wrapper button {
    padding: 1em 2em;
    background-color: transparent;
    border: .01em solid cyan;
    color: cyan;
    font-weight: 600;
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
}

.wrapper button::after {
    content: "";
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;
}

.wrapper button:hover::after {
    transform: translate(-50%,-50%) scale(4);
}

.wrapper button:hover {
    color: black;
}
.accordion {
    width: 500px;
    background-color: aqua;
    border-radius: 50%;
}

.item {
    background:aquamarine;
    border-radius: 5%;
    margin-bottom: 1em;
    padding: 1em 2em;
   transition: all ease in out 0.5s;
}

title {
    color: black;
    display: flex;
    font-size: larger;
    font-size: 5em;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.content {
    color:Red;
    font-size: medium;
    height: auto;
    ;
}